build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
docs/CODEBASE_REVIEW.md
.cache/clangd/compile_commands.json
.cache/clangd/release/compile_commands.json
